extends layout
block linkcss
    link(rel="stylesheet",href="/css/tomorrow.css")
    link(rel="stylesheet",href="/css/content.css")
block content
    h1= title
    div
        | #{author} #{time}
    hr
    #content
        | !{content}
block jsfile
    script(src="/libs/google-code-prettify/bin/prettify.min.js")
    script(src="/js/content.js")
