extends layout
block linkcss
    link(rel="stylesheet",href="/css/tomorrow.css")
    link(rel="stylesheet",href="/css/content.css")
    link(rel="stylesheet",href="/css/content-small.css",media="(max-width: 1024px)")
block content
    #content
        h1= title
        div
            | #{author} #{time}
        hr
        nav
            span#back
                i.fa.fa-angle-left
            span#top
                i.fa.fa-arrow-circle-o-up
        | !{content}
block jsfile
    script(src="/libs/google-code-prettify/bin/prettify.min.js")
    script(src="/js/content.js")
