extends layout
block linkcss
    link(rel="stylesheet",href="/libs/google-code-prettify/styles/desert.css")
    link(rel="stylesheet",href="/css/content.css")
block content
    h1= title
    div= date
    hr
    #content
        | !{content}
block jsfile
    script(src="/libs/google-code-prettify/bin/prettify.min.js")
    script(src="/js/content.js")
