extends layout
block linkcss
    link(rel="stylesheet",href="/css/cover.css")
block content
    ul#list
        each blog in blogs
            li
                a(href='#{blog.url}')
                    span.title= blog.name
                    span.time= blog.mtime
              
